---
layout: default
title: Teaching
description: Teaching for Bernard Kofi Sarpong.
---
{% assign experience = site.data.experience %}



<section>
  <div class="section-heading">
    <h2>Teaching</h2>
  </div>
  <div class="item-list">
    {% for item in experience.teaching_experience %}
      <article class="item">
        <h3>{{ item.role }}</h3>
        <p class="item-subtitle">{{ item.institution }}{% if item.location %}, {{ item.location }}{% endif %}</p>
        <p class="item-meta">{{ item.dates }}</p>
        {% if item.highlights %}
          <ul class="item-details">
            {% for highlight in item.highlights %}
              <li>{{ highlight }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</section>
